general styles

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

p, time {
    font-family: 'Metrophobic', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue';
}

.container {
    max-width: 1360px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.films__inner {
    padding: 70px 0;
}

/* form styles  */

.form__heading {
    color: white;
}

.films__form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    font-family: 'Metrophobic', sans-serif;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 0;
    padding-left: 15px;
    border-radius: 40px;
    max-width: 300px;
    width: 100%;
    background-color: rgba(255, 254, 189, 0.1);
    color: black;
}



.form__input ~ .form__input {
    margin-top: 10px;
}

.form__textarea {
    margin-top: 10px;
    resize: horizontal;
    border: none;
    font-family: 'Metrophobic', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 0;
    padding-left: 15px;
    border-radius: 15px;
    max-width: 300px;
    width: 100%;
    background-color: rgba(255, 254, 189, 0.1);
    color: black;
}

.form__submit {
    margin-top: 10px;
    border: none;
    background-color: black;
    border-radius: 20px;
    padding: 15px 0;
    color: white;
    font-family: 'Bebas Neue';
    max-width: 300px;
    width: 100%;
}

/* films list styles */

.films__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
}

.films__item {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    max-width: 350px;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 1) 0px 8px 24px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: bisque;
}

.films__title {
    margin-bottom: 5px;
}

.films__img {
    max-width: 350px;
    width: 100%;
    margin-bottom: 15px;
    vertical-align: middle;
    object-fit: cover;
}

.films__overview {
    display: flex;  
    margin: 0 10px;
    margin-bottom: 15px;
    align-self: center;
}

.films__overview::before {
    display: block;
    content: 'Overview:';
    font-family: 'Bebas Neue';
    line-height: 1.4;
    margin-right: 10px;
}

.films__date {
    align-self: center;
    margin: 0 10px;
}

.films__date::before {
    display: inline-block;
    content: 'Release date:';
    font-family: 'Bebas Neue';
    margin-right: 10px;
}

.genres__list {
    align-self: center;
    margin: 0 10px;
}

.genres__list::before {
    display: inline-block;
    content: 'Genres:';
    font-family: 'Bebas Neue';
    margin-right: 10px;
}

.genres__item + .genres__item {
    margin-left: 20px;
}